# Basics of Functions For Data Science

***Lambda functions*** are short functions and quite-handy. You need not define a name for it. You can use **any number of variables** but **one expression/operation** on them. Let's understand them with examples.

In [ ]:
#Adding two numbers with lambda function
sum1=(lambda x,y: x+y)
print(sum1(5,2))

print('-----------------------------')

#Multiplying 3 numbers
Multiply=lambda x,y,z: x*y*z
print(Multiply(1,2,3))

7
-----------------------------
6

**map()** function can be used to apply a function to each and every element of a list/tuple. Lets see an example below.

In [ ]:
#Lets add $ sign before number to denote money
list1=[1,2,3,4,5,6]
def dollar(l):
  result= map(lambda x: '$'+str(x),list1)
  return list(result)
dollar(list1)

['$1', '$2', '$3', '$4', '$5', '$6']

**filter()** function is used to filter a collection of elements based on some condition. Let's see an example below.

In [ ]:
#Let's print money amount greater than 3
def filter_tutorial(x):
  result=filter(lambda x: x>3,list1)
  return list(result)
filter_tutorial(list1)

[4, 5, 6]

**reduce()** function derives the value/result by applying an operation/expression to a number of variables

In [ ]:
# Below we find the product of all money in list1
from functools import reduce
def reduce_tutorial(l):
   result=reduce(lambda x1,x2: x1*x2,l)
   return [result]
reduce_tutorial(list1)

[720]

variables defined outside function are **global** in nature, you can use them anywhere in the whole code even within any function. 

We can **return the result** of a function using ***return*** keyword. Returning result of a function is necessary if you want to use the result later.

In [ ]:
#Using the result returned by the function to print another statement Note base_fare and extra are global variables here we can use them even within taxi_fare function. 
#If we had described them within taxi_fare we could not have used them outside the function so in that case they would act as local function.

base_fare=150 #min. fare you have to pay for boarding a taxi
extra=2 #extra amount to be paid per Km of journey
def taxi_fare(k):
     total_fare=base_fare+extra*k #total fare to be paid at the end of journey
     return 'The total taxi fare is: {}'.format(total_fare)
taxi_fare(2)


print('I came home today by taxi. '+taxi_fare(5))

I came home today by taxi. The total taxi fare is: 160

In [ ]:
#If we do not return the value of a function and try to use it later, it will cause error as shown below 
base_fare=150
extra=2 #same as extra_fare
def taxi_fare(k):
     total_fare=base_fare+extra*k
     print('The total taxi fare is: {}'.format(total_fare))
taxi_fare(2)


print('I came home today by taxi. '+taxi_fare(5))

The total taxi fare is: 154
The total taxi fare is: 160

TypeError: ignored

In [ ]:
#The keyword global enables us to use the variable described inside function outside as shown below.
def taxi_fare(k):
     """ Function to calculate the fare of taxi."""  #documentation can be created for any function for convenience using the docstring method as shown
     global base_fare
     global extra_fare
     base_fare=150
     extra=5
     total_fare=base_fare+extra*k
     return 'The total taxi fare is: {}'.format(total_fare)
print(taxi_fare(2))
print(extra_fare) # Since extra_fare is global variable we can access it outside function

The total taxi fare is: 160
5

In [ ]:
#to see the documentation of a function, syntax use any of the below commands. We are seeing the documentation of the function we created in above cell
help(taxi_fare)
#taxi_fare?

Help on function taxi_fare in module __main__:

taxi_fare(k)
    Function to calculate the fare of taxi.

In [ ]:
# *args keyword can be used to pass on any number of parameters to a function
def total_taxi_fare_week(*args): #we want to calculate the total fare of taxi of a particular person for a week.
         base_fare=150
         extra_fare=2       
         grand_total=0 #total fare for a week
         for arg in args:
           total_fare=base_fare+extra*arg #fare for each day
           grand_total=grand_total+total_fare
         return grand_total
total_taxi_fare_week(2,5,6,1,2,3,7)

1102

In [ ]:
#nested function is one function within another function as shown below
def nested_func(*args):
  base_fare=100
  extra_fare_km=2
  def inner_func(*args):
    tot=0
    for arg in args:
      tot=tot+arg
    return tot
  total_fare_of_week=base_fare*7+extra_fare_km*inner_func(*args)
  return total_fare_of_week
nested_func(1,2,3)

712

**nonlocal variables** are used in nested function (*function inside another function*). If we need to update the value of a variable of outer function inside inner function we use **nonlocal** keyword before the variable

In [ ]:
#Notics the updated value of variable z is returned in 2nd case with the use of the keyword nonlocal but in the first case it is not

#Let's code a function to greet our friend Neeta

def non_local(y): 
  z='!!!'
  def inner_nonlocal():
    #nonlocal z
    z='!!!!!!!!!!' 
    x='Hello '+y+z
    return x
  return (inner_nonlocal(),z) # we will get the initial value of z
print(non_local('Neeta'))

print('-----------------------------------------------------------------------------------------------')


def non_local(y):
  z='!!!'
  def inner_nonlocal():
    nonlocal z
    z='!!!!!!!!!!'
    x='Hello '+y+z
    return x
  return (inner_nonlocal(),z) # we will get the updated value of z inside the inner function
print(non_local('Neeta'))

('Hello Neeta!!!!!!!!!!', '!!!')
-----------------------------------------------------------------------------------------------
('Hello Neeta!!!!!!!!!!', '!!!!!!!!!!')

In [ ]:
#We can initialize the value of the parameters of the function as shown below
def taxi_fare(base_fare=150,extra_fare_km=2,km=2):
      total=base_fare+extra_fare_km*km
      return total
print(taxi_fare())

#We can also change the values if we want. Below, base_fare=100,fare_km=1,km=1
print(taxi_fare(100,1,1))

154
101

## Reference:

**1. Introducion to Python Toolbox (Part 1) by DataCamp**

**2. Introduction to Python Toolbox (Part2) by DataCamp**

**3. Udacity Bertelsman Technology Scholarship Program Data Track** 



# I will make a tutorial on using functions on real datasets soon !!!!!!!!!